@import './parts/grid.styl'
@import './parts/general.styl'

.main-heading
  font-size $fsBig
  color $main-blue
  font-weight 700

.main-subheading
  font-size $fsNorm
  font-weight normal

.cover
  position relative

  .icon
    position absolute
    left 0%
    bottom -3%
    z-index 5

  .title-img
    position relative
    left 3%
    width px2rem(220px)
    height px2rem(120px)
    border-radius $bdRad

.domain-list
  align-items start
  font-size $fsNorm

  select
    width px2rem(250px)
    background-position 95%

.time
  select
    width px2rem(84px)
    background-position 85%

.fee
  input
    margin 1rem 0 0